.section{
    width: 90%;
    border-radius: 5px;
    background-color: rgba(143, 143, 143, 0.514);
    margin: 10px;
}

.section > *{
    margin: 10px;
}

.add{
    display: grid;
    grid-template-rows: auto auto;
}

.add > .bottom{
    display: grid;
    grid-template-columns: 31% 31% 31%;
    grid-template-rows: auto auto;
}