body{
    margin-left: 5%;
    margin-right: 5%;
    font-family: sans-serif;
    background-color: rgba(158, 158, 158, 0.288);
}

#navbar{
    display: flex;
    justify-content: space-between;
    background-color: rgb(73, 73, 73);
    padding: 20px 0 20px 0;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#navbar ul > li{
    display: inline;
    padding: 0;
}

#accountManagement > ul > #login, #accountManagement > ul > #createaccount{
    display: none;
}

#accountManagement > ul > #profile{
    display: none;
}

#navigation li a, #accountManagement li a{
    text-decoration: none;
    font-size: medium;
    color: white;
    text-align: center;
    padding: 20px 20px;
}

#navigation li a:hover, #accountManagement li a:hover{
    background-color: rgb(32, 32, 32);
} 

.main{
    margin-top: 10px;
    background-color: rgb(202, 202, 202);
    border-radius: 5px;
    padding: 10px;
    text-align: center;
}

.main > .intro{
    border-bottom-style: solid;
    width: 100%;
    margin: 0 auto;
    border-width: 2px;
    padding-bottom: 20px;
    text-align: center;
}
