.search{
    margin-top: 50px;
}

.search > input{
    margin: 2px 2px 2px 0px;
}

.search > h{
    font-size: large;
    font-weight: 900;
}

.results{
    margin: 10px;
    width: 100%;
}

.results > .link{
    margin-top: 1px;
}

.results > .link > a{
    text-decoration: none;
    background-color: rgba(66, 66, 66, 0.514);
    padding: 10px 500px 10px 10px;
    display: block;
    width: 15%;
    color: white;
}

.results > .link > a:hover{
    background-color: rgba(56, 56, 56, 0.671);
}

.pagination{
    margin: 100px 10px 10px 10px;
}

.pagination > a{
    text-decoration: none;
    background-color: rgb(83, 83, 83);
    padding: 10px;
    color: white;
}

.pagination > a:hover{
    background-color: rgb(65, 64, 64);
}