a {
    text-decoration: none;
}

.user{
    margin-top: 10px;
    background-color: rgb(202, 202, 202);
    border-radius: 5px;
    padding: 10px;
}

.user > .username{
    border-bottom-style: solid;
    width: 100%;
    margin: 0 auto;
    border-width: 2px;
    padding-bottom: 20px;
}

.user > .grid{
    display: grid;
    grid-template-rows: auto auto;
    width: 100%;
    margin: 0 auto;
}

.user > .grid > .info{
    display: grid;
    grid-template-columns: 25% 25%;
    grid-template-rows: auto auto;
}

.section{
    width: 90%;
    border-radius: 5px;
    background-color: rgba(143, 143, 143, 0.514);
    margin: 10px;
}

.section > *{
    margin: 10px;
}