html
    head
         
        title Add Movie
    style 
        include ../public/styles/homeStyles.css
        
    body 

        include navbar

        p Add Actor/Actress:  
            input#actorName(type="text" placeholder="Insert Actor/Actress")   
            button#addActor(type="button") Add 
        
        div#addActorActress   
            

        p Add Director:  
            input#dirName(type="text" placeholder="Insert Director") 
            button#addDir(type="button") Add 
        div#addDirectors  

        p Add Writer:   
            input#writName(type="text" placeholder="Insert Writer") 
            button#addWrit(type="button") Add 
        div#addWriters

        p Movie Name:   
            input#mName(type="text" placeholder="Insert Movie Name") 

        p Add Plot:   
            input#plot(type="text" placeholder="Insert Plot") 

        p Add Release Date:  
            input#rD(type="text" placeholder="Insert Release Date") 

        p Add Rating: 
            input#rating(type="text" placeholder="Insert Rating")  

        P Add Genre: 
            input#genre(type="text" placeholder="Insert Genre")  
            button#addGenre(type="button") Add 
            div#addGenres

        p Add Runtime:  
            input#runtime(type="text" placeholder="Insert Runtime") 
            
        p Add Awards: 
            input#awards(type="text" placeholder="Insert Awards") 
            button#awardButton(type="button") Add 
            div#addAwards
                p Added Awards

        p SUBMIT MOVIE 
        button#submitMovie(type="button") Add 
        script(src="/js/addMovie.js") 
