html
    head
         
        title Add Movie
    style 
        include ../public/styles/homeStyles.css
        include ../public/styles/addMovie.css
        
    body 

        include navbar
        
        div.add
            div.section
                p Movie Name:   
                    input#mName(type="text" placeholder="Insert Movie Name") 

                p Add Plot:   
                    input#plot(type="text" placeholder="Insert Plot") 

                p Add Release Date:  
                    input#rD(type="text" placeholder="Insert Release Date") 

                p Add Rating: 
                    input#rating(type="text" placeholder="Insert Rating")  
                p Add Runtime:  
                    input#runtime(type="text" placeholder="Insert Runtime") 
            div.bottom
                div.section
                    P Add Genre: 
                        input#genre(type="text" placeholder="Insert Genre")  
                        button#addGenre(type="button") Add 
                        div#addGenres 
                            p Added Genres 

                div.section
                    p Add Actor/Actress:  
                        input#actorName(type="text" placeholder="Insert Actor/Actress")   
                        button#addActor(type="button") Add 
                    div#addActorActress    

                    div#addedActorActress  
                        p addedActorActress
                    
                div.section
                    p Add Director:  
                        input#dirName(type="text" placeholder="Insert Director") 
                        button#addDir(type="button") Add 
                    div#addDirectors   
                    
                    div#addedDirectors   
                        p Added Directors

                div.section
                    p Add Writer:   
                        input#writName(type="text" placeholder="Insert Writer") 
                        button#addWrit(type="button") Add 
                    div#addWriters 
                            p Added Writers 

                div.section
                    p Add Awards: 
                        input#awards(type="text" placeholder="Insert Awards") 
                        button#awardButton(type="button") Add 
                        div#addAwards
                            p Added Awards
                div.section
                    p SUBMIT MOVIE 
                    button#submitMovie(type="button") Add 
        script(src="/js/addMovie.js") 
