html
    head
         
        title Create Account 
    style 
        include ../styles/homeStyles.css
        
    body 

        include navbar

        p Add Actor/Actress:  
            input(type="text" placeholder="Insert Actor/Actress") 
        p Add Director:  
            input(type="text" placeholder="Insert Director")
        p Add Writer:   
            input(type="text" placeholder="Insert Writer")

        button#addPplB(type="button") Add People 

        p Movie Name:   
            input(type="text" placeholder="Insert Movie Name")
        p Add Plot:   
            input(type="text" placeholder="Insert Plot")
        p Add Release Date:  
            input(type="text" placeholder="Insert Release Date")
        p Add Rating: 
            input(type="text" placeholder="Insert Rating") 
        P Add Genre: 
            input(type="text" placeholder="Insert Genre") 
        p Add Runtime:  
            input(type="text" placeholder="Insert Runtime")
        p Add Awards: 
            input(type="text" placeholder="Insert Awards")

        button#addMovie(type="button") Add Movie
