html
    head
         
        title Add Person
    style 
        include ../public/styles/homeStyles.css
        
    body 

        include navbar

        p Enter Name:  
            input#name(type="text" placeholder="Full Name")   
            button#add(type="button") Add 
    script(src="/js/addPerson.js") 
        