html
    head
         
        title Create Account 
    style 
        include ../styles/homeStyles.css
        include ../styles/createAccount.css
        
    body   

        include navbar 

        div#create
            h Create your account
            p Username:   
                input(type="text" placeholder="Username")
                
            p Create Password   
                input(type="text" placeholder="Password")
            br
            button#createB(type="button") create