html
    head
         
        title Create Account 
    style 
        include ../styles/homeStyles.css
        
    body   

        include navbar 

        div.logIn
            p Insert UserName   
            input(type="text" placeholder="Insert Username")
                
            p Insert Password   
            input(type="text" placeholder="Insert Password")
            button#createB(type="button") create