html
    head
         
        title Create Account 
    style 
        include ../public/styles/homeStyles.css
        include ../public/styles/createAccount.css
        
    body   

        include navbar 

        div#create
            h Create your account
            p Username:   
                input#username(type="text" placeholder="Username")
                
            p Create Password   
                input#password(type="text" placeholder="Password")
            br
            button#createB(type="button") create
    script(src="/js/create.js") 