html 
    head
        style
            include ../public/styles/homeStyles.css
        title Home Page
    body
        include navbar  
        
        div.main  
            div.intro 
                h1 The Great Movie Data Base
            .slogan    
                h3 Ya like movies? Cool.