html 
    head
        style
            include ../styles/homeStyles.css
        title Home Page
    body
        include navbar  
        
        div.main   
            div.item1 Top Rated Movie
            div.item2 Newest Releases
            div.item3 Favourite Movies