html
    head
         
        title Login 
    style 
        include ../public/styles/homeStyles.css
        include ../public/styles/login.css
        
    body   

        include navbar  
        div#info
            h Sign In
            p Enter Username:  
                input#username(type="text" placeholder="Username")
        
            p Enter Password: 
                input#password(type="text" placeholder="Password")
            button#LoginB(type="button") Log In
    script(src="/js/login.js") 


