html
    head
         
        title Create Account 
    style 
        include ../styles/homeStyles.css
        
    body   

        include navbar  

        p Enter UserName:  
            input(type="text" placeholder="Insert Enter UserName")
       
        p Enter PassWord: 
            input(type="text" placeholder="Insert Password")
        button#LoginB(type="button") Log In
    


