html
    head
         
        title Create Account 
    style 
        include ../styles/homeStyles.css
        include ../styles/login.css
        
    body   

        include navbar  
        div#info
            h Sign In
            p Enter Username:  
                input(type="text" placeholder="Username")
        
            p Enter Password: 
                input(type="text" placeholder="Password")
            button#LoginB(type="button") Log In
    


