html 
    head 
        title Movies 
        style 
            include ../public/styles/homeStyles.css
            include ../public/styles/search.css 
    body 

        include navbar
        div.search
            h Search for Movies...
            br
            input(type="text" placeholder="Title" id="title")
            input(type="text" placeholder="Actor" id="actor")
            input(type="text" placeholder="Writer" id="writer")
            input(type="text" placeholder="Director" id="dir")
            input(type="text" placeholder="Genre" id="genre")
            button(id="searchButton") Search

        div.results 
            each movie in movies  
                div.link
                    a(href="/movies/" + movie._id) #{movie.title}
                
        div.pagination
            if current > 1
                - let url = "http://localhost:3000/movies?page=" + (current-1)
                - if(qstring.length > 0){ url += "&" + qstring; }
                a#prev(href=url style="margin-right: 439px") Previous
                | 
            - url = "http://localhost:3000/movies?page=" + (current+1)
            - if(qstring.length > 0){ url += "&" + qstring; }
            a#next(href=url) Next 

    script(src="./js/movies.js") 