html 
    head 
        title Movies 
        style 
            include ../styles/homeStyles.css
            include ../styles/search.css
    body 

        include navbar
        div.search
            h Search for Movies...
            br
            input(type="text" placeholder="Title")
            input(type="text" placeholder="Actor")
            input(type="text" placeholder="Writer")
            input(type="text" placeholder="Director")
            input(type="text" placeholder="Genre")
            button(id="search") Search

        div.results
            each movie in movies 
                div.link
                    a(href="/movies/" + movie.id) #{movie.title}
                
        div.pagination
            if current > 1
                - let url = "http://localhost:3000/movies?page=" + (current-1)
                - if(qstring.length > 0){ url += "&" + qstring; }
                a#prev(href=url style="margin-right: 439px") Previous
                | 
            - url = "http://localhost:3000/movies?page=" + (current+1)
            - if(qstring.length > 0){ url += "&" + qstring; }
            a#next(href=url) Next