nav#navbar
    div#navigation
        ul
            li#home 
                a(href="/") HOME
            li#movies
                a(href="/movies") MOVIES
            li#actors 
                a(href="/people") ACTORS
            li#directors
                a(href="/people") DIRECTORS
            li#writers
                a(href="/people") WRITERS
            li#users
                a(href="/users") USERS  
            
            li#addMovie 
                a(href="/newMovie") ADD MOVIE
    div#accountManagement
        ul 
            li#login
                a(href="/login") Sign In 
            li#createaccount
                a(href="/newAccount") Create Account
            li#profile
                a(href="/profile") Profile