nav#navbar
    div#navigation
        ul
            li#home 
                a(href="/") HOME
            li#movies
                a(href="/movies") MOVIES
            li#actors 
                a(href="/actors") ACTORS
            li#directors
                a(href="/directors") DIRECTORS
            li#writers
                a(href="/writers") WRITERS
            li#genres
                a(href="/genres") GENRES
            li#users
                a(href="/users") USERS
    div#accountManagement
        ul 
            li#signin
                a(href="") Sign In 
            li#createaccount
                a(href="") Create Account