nav#navbar
    div#navigation
        ul
            li#home 
                a(href="/") HOME
            li#movies
                a(href="/movies") MOVIES 
            li#people  
                a(href="/people") PEOPLE
            li#users
                a(href="/users") USERS  
            li#addMovie 
                a(href="/newMovie") ADD MOVIE
            li#addPerson 
                a(href="/newMovie") ADD PERSON
    div#accountManagement
        ul 
            li#login
                a(href="/user/login") Sign In 
            li#createaccount
                a(href="/createAccount") Create Account
            li#profile
                a(href="/user/profile") Profile
                a(href="/user/logout") Log Out
    script(src="./js/navbar.js") 