nav#navbar
    div#navigation
        ul
            li 
                a(href="/") HOME
            li
                a(href="/movies") MOVIES
            li 
                a(href="/actors") ACTORS
            li 
                a(href="/directors") DIRECTORS
            li 
                a(href="/writers") WRITERS
            li 
                a(href="/genres") GENRES
    div#search
        input(type="text" placeholder="Search...")
        button(type="submit") Search
    div#accountManagement
        ul 
            li 
                a(href="") Sign In 
            li 
                a(href="") Create Account