html 
    head 
        title People 
        style 
            include ../public/styles/homeStyles.css
            include ../public/styles/search.css
    body 

        include navbar
        div.search
            h Search for Users...
            br
            input(type="text" placeholder="Name")
            input(type="text" placeholder="Movie")
            button(id="search") Search

        div.results
            each person in pData 
                div.link
                    a(href="/people/" + person.id) #{person.name}
        div.pagination
            if current > 1
                - let url = "http://localhost:3000/people?page=" + (current-1)
                - if(qstring.length > 0){ url += "&" + qstring; }
                a#prev(href=url style="margin-right: 439px") Previous
                | 
            - url = "http://localhost:3000/people?page=" + (current+1)
            - if(qstring.length > 0){ url += "&" + qstring; }
            a#next(href=url) Next