html
    head
         
        title people    
        style
            include ../public/styles/homeStyles.css 
        
    body 

        include navbar  
        
        div.people    
        
            p #{pData.name} 

            div.Wri

                p Writer: 
                    each val in pData.written
                            
                        ul
                            a(href='/movies/'+val) #{val}  
            
            div.Dir
                p Director: 
                    each val in pData.directed
                        ul
                            a(href='/movies/'+val) #{val} 
            
            div.Act
                p Actor: 
                    each val in pData.acted
                        ul
                            a(href='/movies/'+val) #{val}

        