html
    head
         
        title people    
        style
            include ../styles/homeStyles.css 
        
    body 

        include navbar  
        
        div.people    
        
            p #{pData.Name} 

            div.Wri

                p Writer: 
                    each val in pData.Written
                            
                        ul
                            a(href='/movies/'+val.id) #{val.title}  
            
            div.Dir
                p Director: 
                    each val in pData.Directed
                        ul
                            a(href='/movies/'+val.id) #{val.title} 
            
            div.Act
                p Actor: 
                    each val in pData.Acted
                        ul
                            a(href='/movies/'+val.id) #{val.title}

        