html 
    head
        style
         
        title seach
    body
        //include navbar  
        
        div.search   
        
            |   Movie Search:
            input#movieSearch(type="text",  value ="")  
            br
            |   People Search:
            input#peopleSearch(type="text", value = "")   
            br           
            button#searchB(type="button") search