html
    head
         
        title User  
    style 
        include ../public/styles/homeStyles.css 
        include ../public/styles/user.css         
        
    body 

        include navbar  
        
        div.User     


            div.UserName 
                h1 #{user.username}
                if !following
                    button(id="follow") Follow
                else
                    button(id="unfollow") Unfollow
            div.grid
                div.info
                    div.section
                        h3 Following People: 
                            ul
                                each person in people     
                                    li 
                                        a(href='/people/'+person._id) #{person.name} 
                    div.section 
                        h3 Watched Movies:  
                            ul
                                each movie in watchedMovies  
                                    li
                                        a(href='/movies/'+movie._id) #{movie.title}         
                div.section
                    h3 Reviews: 
                        each val in user.userReviews 
                            h #{val.title + "\n" + val.rating + "\n" + val.reviewSummary + "\n" + val.reviewText}  
    script(src="/js/user.js") 
                
            
            



        