html
    head
         
        title User  
    style 
        include ../public/styles/homeStyles.css 

    script(src="../static/profile.js")  
        
        
    body 

        include navbar  
        
        div.User     


            div.UserName 
                p Username: #{user.username}
                if !following
                    button(id="follow") Follow
                else
                    button(id="unfollow") Unfollow

            div.EmptyBox 
                
            div.people
                p Following People: 
                    each person in people      
                        ul
                            a(href='/people/'+person._id) #{person.name} 
            div.WatchMovies
                p Watched Movies: 
                    each movie in watchedMovies 
                        ul 
                            a(href='/movies/'+val_id) #{val.title}         
            div.Reviews
                p Reviews: 
                    each val in user.userReviews 
                        h #{val.rating + " " + val.reviewSummary + " " + val.reviewText}  
    script(src="/js/user.js") 
                
            
            



        